h3{
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    
}
h2{
    text-align: center;
    text-justify: center;
    justify-self: center;
}
.container{
    display: grid;
    grid-area: content;
    grid-gap: 10px;
    grid-template-columns:  repeat(auto-fit, minmax(300px,500fr));
    margin-top: 100px;

}
.mainContainer{
        background-color: rgb(238, 226, 226);
        display: grid;
        grid-gap: 10px;
        grid-template-areas:'header header header header header '
                        'menu content content content content' ;

 }

.Menu{
    display: grid;
    width: 22vh;
    height: 80vh;
    background-color: grey;
    grid-area: menu;
    grid-gap: 20px;
    grid-template-columns: minmax(20px,20px);
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 100px;
    position: fixed;
    
}
.button{
    width: 100px;
    border-radius: 3px;
    background-color: #00bb99
}

.button:hover{
    background-color:greenyellow;
}
.Footer1{
    grid-area: footer;
    background-color: red;
}

.header{
    grid-area: header;
    grid-gap: 20px;
    position:  fixed;
    width: 100%;

}

.box{
    background-color: gray;
    height: 30vh;
    border-radius: 10px;
    box-shadow: rgba(24, 24, 27, 0.157);
    align-content: center;
    align-self: center;
    justify-content: center;
    border-bottom: 3px solid #3a3d34;
    border-right: 3px solid #3a3d34;

    
    
}
.box:hover,.box2:hover{
    background-color: rgb(238, 226, 226);
}
#img{
   display: block;
   margin: auto;
   margin-right: auto;
   max-width: 20vh;
   max-height: 20vh;
}
.box2{
     background-color: white;
    height: 70vh;
    border-radius: 10px;
    border-bottom: 3px solid #3a3d34;
    border-right: 3px solid #3a3d34;

}

@media only screen and (max-width:800px){
    .mainContainer{
        background-color: rgb(238, 226, 226);
      display: grid;
    grid-gap: 10px;
    grid-template-areas:'header  '
                        'menu '
                        'content' ;

 }

    .container{
        display: grid;
        grid-area: content;
        grid-gap: 10px;
        grid-template-columns:  repeat(auto-fit, minmax(200px,300fr));
        margin-top: 100px;
        background-color: lightblue;
    
    }
    
.Menu{
    display:grid; 
    background-color: grey;
    width: 100%;
    height: 30vh;
    grid-area: menu;
    grid-gap: 20px;
    grid-template-columns:  repeat(auto-fill, minmax(50px,100px));
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 200px;
   position: relative;
    
}
.Menu1{
    
    background-color: grey;
    grid-area: menu;
    grid-gap: 20px;
    margin: 200px;
   
    
}

.button{
    width: 100px;
    border-radius: 3px;
    background-color: #00bb99
}
.header{
    grid-area: header;
    grid-gap: 20px;
    position:  relative;
    width: 100%;

}
   
}